# Basics
__pycache__/
*.py[cod]
*$py.class
*.log
.DS_Store
Thumbs.db

# Virtual Environment
.venv/
venv/
env/
.env

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# DB
*.db
*.DB
weather.db
backend/weather.db

temp_debug/